@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .custom {
        width: 0px;
        height: 0px;
        box-shadow: 0px 0px 40px 40px red;
        border-radius: 100%;
        z-index: 1;
        opacity: 0.2;
    }
}